header{
    background-color: blue;
    color:black;
    padding: 20px;
    grid-area: header;
}

nav{
    background-color:lightblue;
    width: 200px;
    height: 800px;
    float: left;
    grid-area: nav;
}
nav ul{
    list-style-type: none;
}
a{
    color:blue;
}
a:hover{
    color:red;
    font-weight: bold;
}
main{
    background-color:cadetblue;
    display: block;
    color: black;
    padding: 0%;
    margin: 0%;
    grid-area:main;
}

aside{
    background-color: lightgreen;
    grid-area: aside;
    
}
footer{
    background-color: darkgreen;
    color: white;
    grid-area: footer;
}
.shownav{
    height: 0.8em;
    width: 1.25;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
}

img{
    display: grid;
    display: inline;
    width: 400px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}
img {
    border-radius: 50%;
  }
  body {
    display: grid;
    grid-template-columns:20% 60% 20%;
    grid-template-rows:auto;
    grid-template-areas:"header header header"
    "nav main aside"
    
    "footer footer footer";
}